:root {
  --tab-width: 50rem;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #424242;
  color: #d1d1d1;
}
#title {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.challenge-container {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.challenge-container p {
  font-size: 1.15rem;
}
.tab-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  margin: 0 auto;
  padding: 0;
  max-width: var(--tab-width);
}
.tab-header > button {
  font-size: 1.15rem;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #d1d1d1;
  border: none;
  transition: background-color 0.1s;
}
.tab-header > button:not(.selected):hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.tab-header > .selected {
  background-color: rgba(0, 0, 0, 0.25);
}
.tab-container {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  display: grid;
  overflow: hidden;
  max-width: var(--tab-width);
}
.tab-container > .selected {
  display: block;
}
.tab-container > * {
  grid-column: 1;
  grid-row: 1;
  display: none;
}

pre {
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}





